.container {
	background: linear-gradient(-45deg, #5dfdcae0, #90d6ffde, #C9F9FF, #23d5ab);
	background-size: 500%;
  height: 560vh;
	animation: gradient 20s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* .container {
  padding-top: 20px;
  background: linear-gradient(
    135deg,
    hsla(187, 82%, 65%, 0.2) 0%,
    hsla(65, 77%, 63%, 0.2) 51%,
    hsla(327, 67%, 74%, 0.2) 100%
  );
  background-size: 100%;
} */

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  grid-auto-rows: min-content;
  align-items: center;
}

.description {
  height: 5vh;
}

.searchForm {
  justify-self: center;
  height: auto;
  padding-top: 8vh;
}

.searchForm > button:focus {
  outline-style: none !important;
  /* border: solid #FE6D73 1px;
  box-shadow: 0 0 2px #FE6D73; */
}

.searchForm > button {
  position: absolute;
  height: 4vh;
  width: auto;
  background: none;
  border: none;
  padding: 0;
  margin-left: -72px;
  cursor:pointer ;
  margin-top: 7px;

}

.title {
  padding-top: 20vh;
  padding-bottom: 2vh;
  height: 4.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7rem;
  color: #2B2D42;
}
.searchBar {
  width: 40vw;
  height: 5vh;
  border-radius: 10px;
  border: solid rgba(128, 128, 128, 0.767) 1px;
  background-image:none;
  background-color:white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: 0 1px 5px rgba(128, 128, 128, 0.562);
  padding: .8rem;
}

.searchBar:focus {
  outline-style: none !important;
  border: solid #FE6D73 1px;
  box-shadow: 0 0 2px #FE6D73;
}


.places {
  margin-right: -55vw;
  height: auto;
  width: auto;
  display: grid;
  column-gap: 60vw;
  row-gap: 5vh;
  grid-template-rows: repeat(20, auto);
  padding: 3rem;
  grid-template-columns: 30vw 30vw 30vw 30vw;
  list-style-type: none;
}
.description {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}
