.container {
  padding-top: 20px;
  background: linear-gradient(
    135deg,
    hsla(187, 82%, 65%, 0.2) 0%,
    hsla(65, 77%, 63%, 0.2) 51%,
    hsla(327, 67%, 74%, 0.2) 100%
  );
  background-position: cover;
}

.main {
  display: grid;
  
}

.title {
  height: 4.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 5rem;
}

.places {
  height: auto;
  width: auto;
  border: solid black 5px;
  display: grid;
  gap: 10px;
  grid-auto-rows: auto;
  padding: 3rem;
  grid-template-columns: auto auto auto;
  list-style-type: none;
}
.description {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}
