.title {
  font-size: 2rem;
  color: #2B2D42;
}
.article {
  min-height: 30vh;
  padding: 1.1rem;
  width: 64vw;
  background: #fdeaeaf1;
  border: solid #2b2d424b 1px;
  box-shadow: 0 1px 3px #2b2d42b2;
  border-radius: 7px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.article > button {
  margin-top: 1vh;
}

/* .photosContainer {
  height: 600px;
  width: auto;
} */

